header nav ul li {
  display: inline-block;
  margin: 0px;
  margin: 10px;
  text-align: center;
}
header nav ul li a {
  color: #2c3e50;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

header {
  background-color: rgba(243, 166, 131, 0.5);
  padding: 20px 0px;
  width: 100%;
}

header .displayLeft {
  font-size: 30px;
  color: #2c3e50;
  font-weight: 800;
  margin-left: 50px;
}

header nav ul {
  text-align: center;
  margin: 0;
}

header .active {
  border-bottom: 2px solid #2c3e50;
  border-radius: 2px;
}

header .displayRight {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
}
